---
    import Layout from "../layouts/Layout.astro"
    import Footer from "../components/Footer.astro"
    
---


<Layout title="404">

    <main>
        <h1 class="text-4xl text-center mt-9 font-bold ">404</h1>
        <p class="text-center text-2xl">Página no encontrada</p>
    </main>
    <Footer />
</Layout>


