---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";

export const prerender = true;
---

<Layout title="CV">
    <main>
        <section>
            <div class="py-8 px-4 flex flex-col justify-center items-center">
                <div class="max-w-screen-md mb-8 lg:mb-16">
                    <h2
                        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
                    >
                        ESTUDIOS
                    </h2>
                </div>

                <div
                    class="flex flex-row justify-evenly flex-wrap items-center gap-10"
                >
                    <div
                        class="shadow-2xl w-80 h-80 animate__animated animate__fadeInLeft flex flex-col items-center justify-around bg-gray-900 p-16 rounded-xl"
                    >
                        <div class="w-16 flex items-center justify-center">
                            <img src="umg.png" alt="umg" />
                        </div>
                        <h3
                            class="mb-2 text-xl font-bold text-center dark:text-white"
                        >
                            Universidad Mariano Gálvez
                        </h3>
                        <p class="text-gray-500 text-center dark:text-gray-400">
                            Ingeniería en Sistemas
                        </p>
                        <p class="text-gray-500 text-center dark:text-gray-400">
                            Actualidad
                        </p>
                    </div>
                    <div
                        class="shadow-2xl w-80 h-80 animate__animated animate__fadeInLeft flex flex-col items-center justify-around bg-gray-900 p-16 rounded-xl"
                    >
                        <div
                            class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
                        >
                            <img src="galileo.jpeg" alt="" />
                        </div>
                        <h3
                            class="mb-2 text-xl font-bold text-center dark:text-white"
                        >
                            Pre-universitario Galileo
                        </h3>
                        <p class="text-gray-500 text-center dark:text-gray-400">
                            Bachillerato en Computación con Orientación
                            Científica
                        </p>
                        <p class="text-gray-500 text-center dark:text-gray-400">
                            2022-2023
                        </p>
                    </div>
                    <div
                        class="shadow-2xl w-80 h-80 animate__animated animate__fadeInLeft flex flex-col items-center justify-around bg-gray-900 p-16 rounded-xl"
                    >
                        <div
                            class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
                        >
                            <img src="funsalud.png" alt="" />
                        </div>
                        <h3 class="mb-2 text-xl font-bold dark:text-white">
                            FunSalud
                        </h3>
                        <p class="text-gray-500 dark:text-gray-400 text-center">
                            Diplomado en Desarrollo Web
                        </p>
                        <p class="text-gray-500 text-center dark:text-gray-400">
                            2023
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div
                class="py-8 px-4 flex flex-col items-center justify-center sm:py-10 lg:px-2"
            >
                <div class="max-w-screen-xl mb-8 lg:mb-16">
                    <h2
                        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
                    >
                        SKILLS
                    </h2>
                </div>

            </div>
        </section>
    </main>

    

    <Footer />
</Layout>
