---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Carousel from "../components/Carousel.astro";
import InfoEstudios from "../components/InfoEstudios.astro";
export const prerender = true;
---

<Layout title="CV">
    <main>
        <section>
            <div class="py-8 px-4 flex flex-col justify-center items-center">
                <div class="max-w-screen-md mb-8 lg:mb-16">
                    <h2
                        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
                    >
                        ESTUDIOS
                    </h2>
                </div>
                <InfoEstudios />
            </div>
        </section>

        <section>
            <div
                class="py-8 px-4 flex flex-col items-center justify-center sm:py-10 lg:px-2"
            >
                <div class="max-w-screen-xl mb-8 lg:mb-16">
                    <h2
                        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
                    >
                        SKILLS
                    </h2>
                </div>

                <Carousel />

            </div>
        </section>
    </main>

    

    <Footer />



</Layout>

<style>
    .cards-info {
        transition: 0.3s;
    }

    .cards-info:hover {
        transform:matrix(1.05, 0, 0, 1.05, 0, 0);
    }
</style>
